@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <title>HackFest</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>

<body style="text-align:center">
    <h1 style="height:25%">Bienvenue au Hackfest</h1>

    <h4 style="height:100px">Pour vous participer, veuillez cliquez sur le bouton ci-dessous</h4>

    <button class="btn btn-success">
        @Html.ActionLink("Participez", "")
    </button>
</body>

</html>