@model HackFest.Models.Connexion

@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <title>HackFest</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>

<body style="text-align:center">
    <div class="panel panel-success">
        <div class="panel-heading text-center">
            <h1 style="height:25%">Système d'information de gestion pour le Hackfest</h1>
        </div>
        <div class="panel-body">


            <h4 style="height:100px">Veuillez vous connecter pour continuer</h4>
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary()
                <div class="form-group">
                    <label>Votre nom d'utilisateur :</label>
                    @Html.TextBoxFor(i => i.User, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Votre mot de passe :</label>

                    @Html.PasswordFor(i => i.Password, new { @class = "form-control" })
                </div>
                <div class="text-center">
                    <input class="btn btn-success" type="submit" value="Go" />
                </div>
            }

        </div>
    </div>
</body>

</html>