@model HackFest.Models.Organisateur

@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <title>Inscription</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>

<body style="text-align:center">
    <h1 style="height:25%">Inscrire un membre du comité d'organisation. </h1>

    <div class="panel-body" id="form" style="height:50px">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary()
            <div class="form-group">
                <label>Identifiant (Numero du participant ): </label>
                @Html.TextBoxFor(x => x.ID_Participant, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Mot de passe </label>
                @Html.TextBoxFor(x => x.MotDePasse, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Rôle</label>
                @Html.TextBoxFor(x => x.RoleOrganisteur, new { @class = "form-control" })
            </div>
            <div class="text-center">
                <input class="btn btn-success" type="submit" value="Inscrire" />
            </div>
        }
    </div>

</body>

</html>