@model HackFest.Models.Organisateur


@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <title>Inscription</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>

<body style="text-align:center">
    <h1 style="height:25%">Inscrire un membre du comité d'organisation. </h1>

    <form class="m-1 p-1" asp-action="InscriptionsCO" method="post">
        <div class="panel-body" id="form" style="height:50px">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="ID_Participant">Identifiant (Numero du participant ): </label>
                <div><span asp-validation-for="ID_Participant" class="text-danger"></span></div>
                @*TODO: Loader les IDs des participants dans un dropdownlist...*@
                <input asp-for="ID_Participant" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="MotDePasse">Mot de passe </label>
                <div><span asp-validation-for="MotDePasse" class="text-danger"></span></div>
                <input asp-for="MotDePasse" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="RoleOrganisteur"> Role de l'organisateur </label>
                <div><span asp-validation-for="RoleOrganisteur" class="text-danger"></span></div>
                <select asp-for="RoleOrganisteur" class="form-control">
                    <option value="PrésidentComitéOrganisateur">PrésidentComitéOrganisateur</option>
                    <option value="PrésidentComitéDeProgramme">PrésidentComitéDeProgramme</option>
                    <option value="ResponsableDesFinances">ResponsableDesFinances</option>
                    <option value="ResponsableDesArticles">ResponsableDesArticles</option>
                </select>
            </div>
            <div class="text-center">
                <input class="btn btn-success" type="submit" value="Inscrire" />
            </div>

        </div>
    </form>
</body>

</html>