@*@using HackFest.Models.Organisateur*@
@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <title>Inscription</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>

<body style="text-align:center">
    <h1 style="height:25%">Inscription d'un membreCo au HackFest</h1>

    <div class="panel-body" id="form" style="height:50px">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary()
            <div class="form-group">
                <label>Nom utilisateur: </label>
                @*@Html.TextBoxFor(x => x.MotDePasse, new { @class = "form-control" })*@
            </div>
            <div class="form-group">
                <label>Mot de passe Utilisateur: </label>
                @*@Html.TextBoxFor(x => , new { @class = "form-control" })*@
            </div>
            <div class="text-center">
                <input class="btn btn-success" type="submit" value="go" />
            </div>

        }
    </div>

</body>

</html>