@model HackFest.Models.Paiement

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Inscrire Paiement</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>

    <h1>Inscrire un paiement</h1>
    <p>Remplissez le formulaire ci-dessous pour inscrire un paiement</p>

</body>
</html>
