@model HackFest.Models.Connexion

@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <title>HackFest</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>

<body style="text-align:center">
    <div class="panel panel-success">
        <div class="panel-heading text-center">
            <h1 style="height:25%">Système d'information de gestion pour le Hackfest </h1>
        </div>
        <div class="panel-body">

            <div class="btn btn-success">
                @Html.ActionLink("Inscrire un participant", "Inscriptions")
            </div> 
            <div class="btn btn-success">
                @Html.ActionLink("Inscrire un membre co", "InscriptionsCO")
            </div>
            <div class=" btn btn-success">
                @Html.ActionLink("Inscrire un membre", "InscriptionsCO")
            </div>
        </div>

    </div>
</body>

</html>